[submodule "test/qdvo-test-datasets"]
	path = test/qdvo-test-datasets
	url = https://github.com/k-sheridan/vio-test-datasets.git
[submodule "thirdparty/Sophus"]
	path = thirdparty/Sophus
	url = https://github.com/strasdat/Sophus
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
